*,
*::before,
*::after {
  box-sizing: border-box;

}

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs:
    .125em .125em .25em rgba(0, 0, 0, .15);
}

@media (min-width:800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-white);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  min-height: 100vh;

}

img {
  display: block;
  max-width: 100%;
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

.btn {
  display: inline-block;
  padding: .5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
  margin-left: .5em;
  margin-right: .5em;
 
}


section {
  padding: 5em, 2em;
}

strong {
  font-weight: var(--fw-bold);
}

/* Typography */
h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h2)
}

.section__title {
  margin-bottom: .25em;
}

.section__title--intro strong {
  display: block
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--about,
.section__subtitle--intro {
  background-color: var(--clr-accent);
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

/* nav */

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;

}

.logo {
  max-width: 100px;
}
.navigation {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: var(--clr-red);
  color: var(--clr-dark);
}

.brand-name {
  text-decoration: none;
  color: var(--clr-dark);
  font-size: 1.3rem;
  margin-left: 1rem;
}
.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
}
.navigation-menu li {
  /* // removes default disc bullet for li tags and applies margin to left & right side */
  list-style-type: none;
  margin: 0 1rem;
}
.navigation-menu li button {
  /* // increases the surface area of the anchor tag to span more than just the anchor text */
  text-decoration: none;
  display: block;
  width: 100%;}

  .hamburger {
  /* // removes default border on button element */
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--clr-light);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
/* // positions the icon to the right and center aligns it vertically */
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}
.hamburger:hover {
  background-color: var(--clr-accent);}

  @media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
    /* .navigation-menu ul {
      display: none;}  */
 }

@media screen and (max-width: 768px) {
  .navigation-menu ul {
    /* // navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar) */
    position: absolute;
    top: 60px;
    right: 0;
    /* // stacks the li tags vertically  */
    flex-direction: column;
    flex-wrap: wrap-reverse;
   /* // makes menu span full height and width */
    width: 50%;
   
    background-color: var(--clr-light);
    border-top: 1px solid var(--clr-dark);
    display: none;
  }
  .navigation-menu li {
    /* // centers link text and strips off margin */
    text-align: center;
    margin: 0;
  }
  .navigation-menu li button{
    color: var(--clr-light);
    background-color: #303030;
    z-index: 1000000000 ;
    /* // increases the surface area of the anchor tag to span the full width of the menu */
    padding: 1.5rem 0;
  }
  .navigation-menu li:hover {
    background-color: var(--clr-light);
  }
  .navigation-menu.expanded ul {
    display: flex;
  }
}

/* intro */
/* .intro {
  position: relative;
} */

.intro__img {
  box-shadow: var(--bs);
}

@media(min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }


  .intro__img {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;

  }


  .section__subtitle--intro {
    align-self: start;
    grid-column: 0/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100+1.5em);

  }
}


.my-services {
  background-color: var(--clr-dark);
  
  background-size: cover;
  color: var(--clr-light);
  text-align: center;
}

.section__title--services {
  color: var(--clr-accent);
  position: relative;
  width: 100%;

}
.service{
   overflow-wrap: break-word;
   word-wrap: break-word;

   -ms-word-break: break-all;
   /* This is the dangerous one in WebKit, as it breaks things wherever */
   word-break: break-all;
   /* Instead use this non-standard one: */
   word-break: break-word;

   /* Adds a hyphen where the word breaks, if supported (No Blink) */
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
}



.services {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}


@media (min-width:800px) {
  .services {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100%;


  }

  .service+.service {
    margin: 2em;
  }

  .first {
    padding-top: 1.95em;
  }
}

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    column-gap: 1.5em;
  }


  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1/-1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% +2em);
    margin-left: 1em;
    padding-left: 2em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
    box-shadow: var(--bs);
    margin: .5em;

  }
}

.my--work {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 1em;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
  background-color: var(--clr-accent);
  overflow: hidden;
}



.portfolio__img {
  transition:
    transform 750ms cubic-bezier(0.55, 0, 0.5, 1),
    opacity 250ms linear;
}

.portfolio__img:hover {
  transform: scale(1.2);
  opacity: .75;
}


.footer {
  background-color: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-size: var(--fs-h);
  font-weight: var(--fw-bold);
}

.footer__link,
.social-list__link {
  opacity: .7;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__link {
  padding: 2em;
  font-size: var(--fs-h3)
}

.centered{
  text-align: center;
}


.text-Area{
  width: 100%;
  max-height: 50%;
  padding: 2rem;
 
}

